      <div class="search-box">
        <div class="title">
          <p>I am looking for...</p>
        </div>
        <div class="search-forms">
        <!--   <p> Search for Anything </p> -->
          <input class="search-projects" id="search-input" placeholder="Search for Projects" type="text" />
        </div>
        <div class="search-forms">
          <!-- <p>Near...</p> -->
          <input class="search-projects" id="search-input" placeholder="Near..." type="text" />
        </div>
      </div>

      <div class="search-box-geo">
      </div>