<div class="body-container">
    <div class="user-header clearfix">
        <div class="edit">
            <a href="/stream/dashboard#profile" class="btn btn-large invs">Edit Profile</a>
        </div>
        <div class="user-avatar">
            <% if (data.image_url_round_medium){ %>
                <img src="<%=  data.image_url_round_medium %>" class="circle">
            <% } %>
        </div>
        <div class="user-info">
            <h1>
                <%= data.display_name %> 
                <% if (data.public_email){ %>
                    <a href="mailto:<%= data.email %>">
                        <img src="/static/img/profile_email.png">
                    </a>
                <% }else{ %>
                    <img src="/static/img/profile_email_deactive.png">
                <% } %> 
            </h1>

            <p>
                <span>
                    <em>aka</em> <%= data.first_name %> <%= data.last_name %>
                </span>
                <br>
                <br>
                Tempor cray proident, stumptown hella nulla fingerstache irony tonx. Mcsweeney's accusamus gentrify aliquip. Thundercats eiusmod single-origin coffee gastropub
                    <%= data.user_description %>
            </p>
            <br> 
            <span>Brooklyn<%= data.user_location %></span>
            <br>
            <strong>
                <a href="<%= data.user_website %>" target="_blank">wwww.com<%= data.user_website %></a>
            </strong>
        </div>
    </div>
    <hr>
    <div class="user-projects clearfix">
        <h2>
            <%= data.first_name %> <%= data.last_name %>'s Projects</h2>
        <ul id="project-list"></ul>
    </div>

    <hr>

    <div class="user-following clearfix">
        <h2>Following</h2>
        <ul id="following-list"></ul>
    </div>
</div>