<div class="user-header">
	<div class="user_icon"></div>
	<div class="user_info">
		<h2><%= data.data.first_name %> <%= data.data.last_name %></h2>
		<span>aka </span><span><%= data.data.user_name %></span>
		<span><%= data.data.user_description %></span>
		<br>
		<span><%= data.data.user_location %></span>
		<strong>
			<span><%= data.data.user_website %></span>
		</strong>
	</div>
</div>
<hr>
<div class="user-projects">
	<h2><%= data.data.first_name %> <%= data.data.last_name %>'s Projects</h2>
</div>

<div class="user-following">
	<h2>Following</h2>
</div>