<% 
    var type = "project";
    if(data.resource){ type = "resource"; }
    console.log("data.isOwned",data);
%>
<div class="project-square" id="<%= data.slug %>">
    <% if(data.isResource){ %>
        <% if(data.isOwned || data.isFollowed){ %>
             <div class="side-tab">Resource</div>
        <% } %>
    <% } %>
     
    <div class="project-dashboard-image">
        <img src="<%= data.image_url_small_square %>" alt="Icon">
    </div> 
    <div class="project-name"><%= data.name %></div>
    <div class="project-description"><%= data.description %></div>
    <div class="project-category"><a href="/discover"><%= data.category %></a> </div>
    
    <% if(data.isProject){ %>
        <div class="hover-overlay"></div>
        <div class="hover-btn">
            <% if(data.isOwned){ %> 
                <a href="/<%= type %>/<%= data.slug %>/admin" class="btn btn-medium btn-primary btn-3d">Manage</a>
            <% } %>
            <% if(data.isFollowed){ %> 
                <a href="/<%= type %>/<%= data.slug %>" class="btn btn-medium btn-primary btn-3d">View</a>
                <div class="close-x"></div>
            <% } %>
        </div> 
    <% }else{ %>
        <a href="/<%= type %>/<%= data.slug %>">
            <div class="hover-overlay"></div>
        </a>
    <% } %>

    
</div>