<div class="content-wrapper clearfix">
    <div class="content-left">
        <h2 class="admin-title">All Updates (0)</h2>
        <br>
        <p>Here is where the heart of your project lies. Engage in private discussions with your core team aka ‘organizers’ to figure out the nitty gritty, whether its organizing meetings, determining needs, or simply asking a question. To enable discussions,
        </p>
    </div>
    <div class="content-right">
        <img src="/static/img/project_connect.png" class="large-icon" alt="Project Icon">
    </div>
</div>