{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block topnav %}
<div id="streamtop">
    <div class="container-narrow">
    <div class="container-narrow">
        <div class="masthead">
      <ul class="nav nav-pills pull-left">    
        <form method="post" action="/stream/sort">
          <input type="hidden" name="project_id" value="">
          <li ><input class="btn btn-success" type="submit" id="header-text" value="View Dashboard"></li>
        </form>
      </ul>

            <ul class="nav nav-pills pull-right">
                <li><a href="/" id="header-text">View ChangeBy.us</a></li>
                <li class="dropdown custom">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span id="header-text">Welcome {{current_user.first_name}}</span> <span class="caret"></span></a>
                    <ul id="divNewNotifications" class="dropdown-menu wide-drops">
                        <li><a role="menuitem" href="/project/create">Create a project</a></li>
                        <li><a role="menuitem" href="/#projects-anchor">Join a project</a></li>
                        <li><a role="menuitem" href="/stream/dashboard">My accounts</a></li>
                        <li><a role="menuitem" href="/logout">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block content %}


<header class="jumbotron subhead" id="main-container">
	<h1><strong>Your Stripe account setup was unsuccessful because of the following error:</strong></h1>
	<br/>
	<p id="header-text">{{error}}</p>
</header>

{% endblock %}