<div class="clearfix">
    <div class="user-avatar">
        <img src="http://lorempixel.com/70/70/" class="circle" alt="User Avatar">
    </div>
    <div class="reply-right">
        <form method="post" enctype=multipart/form-data class="form-project" name="project-update" action="/api/post/add_discussion">
            <input type="text" maxlength="30" name="description" placeholder="Reply" class="input-xxlarge pull-left">
            <input type="submit" class="btn btn-medium btn-secondary pull-right" value="Reply">
            <input type="hidden" name="title" value="title">
            <input type="hidden" name="project_id" value="<%= data.project.id %>">
            <input type="hidden" name="response_to_id" value="<%= data.id %>">
        </form>
    </div>
</div>