
<div class="success-modal">
	<div class="close-x"></div>
	<div class="modal-innerwrapper">
		<h1>Success!</h1>
		<span>We posted your update on your project page and social pages</span>
		<a href="/project/<%= data.project.id %>" class="btn btn-xlarge">View Project Page</a>

		<div class="line-behind">
			<span>or</span>
		</div>

		<a href="http://twitter.com" class="btn btn-large" target="_blank">View On Twitter</a>
		<a href="http://facebook.com" class="btn btn-large" target="_blank">View On Facebook</a>
	</div>	
</div>
