<h2>Share Updates Or News</h2>
<div class="update-wrapper clearfix">
	<div class="project-left">
		<img src="http://lorempixel.com/70/70/" class="circle">
	</div>
	<div class="project-right">
		<div class="share-select clearfix">
			<span>Share:</span>
			<div class="share-toggle-wrapper">
				<div class="share-toggle">
					Project Page
				</div>
				<div class="share-options">
					<ul>
						<li class="project-page">Project Page</li>
						<li class="twitter">Twitter</li>
						<li class="facebook">Facebook Wall</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="update-form"></div>
	</div>
</div>
