<div class="admin-header">
    <h2>Share Updates Or News</h2>
</div>

<div class="content-wrapper clearfix">
    <div class="user-avatar">
        <img src="<%= data.image_url_round_small %>" class="circle">
    </div>
    <div id="update-form"></div>
</div>

<h2>Previous Updates</h2>

<div class="updates-container">
    <div class="preload content-wrapper">
        <h2>
            <em>Loading...</em>
        </h2>
    </div>
    <div class="no-results content-wrapper hide">
        <h3>
            <em>Nothing here yet.</em>
        </h3>
        <span>
            Why don't you <a href="/project/<%= window.projectID %>/admin#updates" class="highlight" id="post-update">add your first post</a>?
        </span>
    </div>
    <ul></ul>
</div>