<div class="success-modal scaled-fade">
    <div class="close-x"></div>
    <div class="modal-innerwrapper">
        <h1>Success!</h1>
        <span>We posted your update on your project page and social pages</span>
        <a href="/project/<%= data.project.id %>" class="btn btn-xlarge btn-secondary">View Project Page</a>

        <div class="line-behind">
            <span>or</span>
        </div>
        <div class="justified-btns social">
            <a href="http://twitter.com" class="btn btn-large btn-tertiary" target="_blank">View On Twitter</a>
            <a href="http://facebook.com" class="btn btn-large btn-tertiary" target="_blank">View On Facebook</a>
        </div>
    </div>
</div> 