<div class="content-wrapper clearfix">
    <div class="fundraising-left content-left">
        <h2>Raise money quickly, safely, and easily</h2>
        <br>
        <p>Whether your need money to quickly pay for supplies, rebuild a community after a hurricane, or fund a volunteer work trip to Haiti, raise the money you need to make your project a reality.
            <br>
            <br>
            <span class="highlight" id="does-it-work">How Does It Work?</span>
        </p>
        <div class="content-wrapper">
            <p>
                Change By Us uses a their party service called
                <a href="https://stripe.com" target="_blank">
                    <span class="highlight">Stripe</span>
                </a>to help you manage payments from donors.
                <br>
                <br>You'll be directed to Stripe's website to quickly set up an account.
                <br>
                <br>
                <strong>Do my donors need an account?</strong>
                <br>No they don't. They simply click on the "Donate" button at the bottom of your page and submit a payment using an accredited debit or credit card.
                <br>
                <br>
                <strong>How do I receive the funds?</strong>
                <br>Earnings are tranfered to your bank account on a 7 day rolling basis.
                <br>
                <br>
                <strong>Does Stripe charge any fee?</strong>
                <br>Stripes charges 2.9%+30 cents for every success transaction. Its the lowest we found out there. There are no other hidden costs.
            </p>
        </div>
        <a href="#fundraising" id="get-started" class="btn btn-large btn-secondary">Get Started</a>
    </div>
    <div class="content-right">
        <img src="/static/img/fundraising.png" class="large-icon" alt="Fundraising">
    </div>
</div>