<% if (data.view == "public"){ %> 
<div class="project-resource-section-header calendar clearfix">
    <div class="pull-left">
        <h2>Calendar</h2>
    </div>
</div>
<% } %> 
<div class="content-wrapper no-results clearfix">
    <% if (data.gcal_code){ %> 
        <%= data.gcal_code %> 
        <% if (data.isOwner || data.isOrganizer){ %> 
            <br>
            <span class="pull-right">
                <a href="javascript:void(0)" class="warning" id="delete-calendar">Delete calendar</a>
            </span>
            <span>
                <a href="javascript:void(0)" class="highlight" id="embed-calendar">Embed new calendar</a>
            </span>
            
        <% } %> 
    <% }else{ %> 
        <% if (data.view == "admin"){ %> 
            <div class="content-left">
                <h2 class="admin-title">Plan Event</h2>
                <br>
                <p>
                    Chances are you already have an existing means of keeping track of your project schedule. Now you can do it all in the same place.
                </p>
                <a href="javascript:void(0)" class="btn btn-large btn-secondary" id="embed-calendar">Embed Google Calendar</a>
            </div>
            <div class="content-right">
                <img src="/static/img/icon_embed_cal.png" class="large-icon" alt="Calendar Icon">
            </div>
        <% }else{ %> 
            <h3>
               <em>Nothing here yet.</em>
            </h3>
            <% if (data.isOwner || data.isOrganizer){ %> 
                <span>Why don't you <a href="javascript:void(0)" class="highlight" id="embed-calendar">link your project's google calendar</a>?</span>
             <% } %> 
        <% } %> 
    <% } %> 
</div>
