<div class="updates clearfix">
    <div class="team-members">
    	<span class="pull-left">TEAM</span>
    	<span class="pull-right"><a href="#members">See All</a></span>
        <div class="clear-both"></div>
        <ul></ul>
    </div>

    <h2>Updates</h2>
</div>

<div class="updates-container">
    <div class="preload content-wrapper">
        <h2>
            <em>Nothing here yet.</em>
        </h2>
        <span>
            Why don't you <a href="#">add your first post</a>?
        </span>
    </div>
    <ul></ul>
</div>