<div class="content-wrapper clearfix">
    <div class="content-left">
        <h2>Manage Your Team</h2>
        <br>
        <p>
            "Members" are people who have joined your project. "Organizers" will also have additional managment responsibilities and also be able to edit, discuss, plan events, and fundriase. Only you can edit project details and everyone's posts.
        </p>
        <a href="javascript:void(0)" class="btn btn-large btn-secondary">Invite Members</a>
    </div>
    <div class="content-right">
        <img src="/static/img/icon_manage_team.png" class="large-icon" alt="Team">
    </div>
</div>

<!-- organizers -->
<div id="team-members" class="">
    <div class="pull-right">
        <a href="javascript:void(0)" id="alpha" class="ul">Alphabetical</a>
        &#8226;
        <a href="javascript:void(0)" id="created" class="ul">Newest</a>
    </div>
    <h4>Person Team</h4>
    <div class="content-wrapper np admin">
        <ul class="bordered-item"></ul>
    </div>
</div>

<!-- members -->
<div id="project-members" class="">
    <h4>Members</h4>
    <div class="content-wrapper np admin">
        <ul class="bordered-item"></ul>
    </div>
</div>