<div class="project-member clearfix">
    <div class="mail-icon">
        <% if (data.public_email && data.email != ""){ %>
            <a href="mailto:<%= data.email %>">
                <img src="/static/img/mail_icon.png" alt="Email">
            </a>
        <% }else{ %>
               <img src="/static/img/mail_icon_deactive.png" alt="Email">
        <% } %>
    </div>
    <a href="/user/<%= data.id %>">
        <div class="user-avatar">
            <img src="<%= data.image_url_round_small %>" class="circle" alt="User Avatar">
        
        </div>
    </a>
    <div class="member-title">
        <%= data.display_name %>
        <span class="aka">aka</span>
        <br>
        <%= data.first_name %>
        <%= data.last_name %>
    </div>
    <div class="member-description">
        <span><%= data.bio %></span> 
    </div>
    <div class="member-roles grey">
        <% if (data.view == "admin"){ %>   
            <% if (data.roles == "OWNER" || data.roles == "Owner"){ %>
                Project Owner
            <% }else{ %>
                <select name="category" id="<%= data.sid %>">
                <% _.each(["Organizer", "Member"], function(i) { %>
                     <% var roleMatch = false %>
                     <% _.each(data.roles, function(r) { %>
                        <% if (i.toUpperCase() == r.toUpperCase()){ %> 
                             <% roleMatch = true %>
                        <% } %>
                     <% }) %>
                    
                     <% if (roleMatch){ %>
                            <option value="<%= i %>" selected><%= i %></option>
                     <% }else{ %>
                            <option value="<%= i %>"><%= i %></option>
                     <% } %>
                <% }); %>
                </select>
            <% } %>
        <% }else{ %>
            <%= window.arrayToListString(data.roles) %>
        <% } %>
    </div>
    
    <% if(data.isAdmin){ %>
        <div class="admin-btns">
            <a href="javascript:void(0)" class="btn btn-medium btn-tertiary">Unflag</a>
            <a href="javascript:void(0)" class="btn btn-medium btn-warning">Delete</a>
        </div>
    <% } %>

    <% if (data.view == "admin" && data.roles[0] != "OWNER" && data.roles[0] != "Owner"){ %>  
        <div class="delete-x"></div>
    <% } %>
</div>