
<div class="content-header">
	<a href="#" class="btn btn-medium pull-right">New Discussion</a>
	<h2 class="content-title">All Discussions(0)</h2>
	
</div>

<h4 class="date">July 9, 2013</h4>

<div class="content-wrapper np clearfix">


	<ul class="bordered-item">
		<!-- start loop -->
		<li>
			<div class="discussion clearfix">
				<div class="close">X</div>
				<div class="date">July 8, 2013</div>
				<div class="user-avatar">
					<img src="http://lorempixel.com/70/70/" class="circle">
				</div>
				<div class="description">
					<h5>Digital Projector Rental</h5>
					<span>Does this look good to everyone?</span> 
				</div>
				
			</div>
		</li>
		<li>
			<div class="discussion clearfix">
				<div class="user-avatar">
					<img src="http://lorempixel.com/70/70/" class="circle">
				</div>
				<div class="description">
					<h5>title</h5>
					<span>text</span> 
				</div>
				<div class="date">
					date
				</div>
				<div class="close-x"></div>
			</div>
		</li>
		<!-- end loop -->
	</ul>
</div>