<div class="content-wrapper clearfix">
    <div class="content-left">
        <h2 class="content-title">All Discussions(0)</h2>
        <p>Here is where the heart of your project lies. Engage in private discussions with your core team aka ‘organizers’ to figure out the nitty gritty, whether its organizing meetings, determining needs, or simply asking a question. To enable discussions,
            <span class="highlight">add organizers</span>or
            <span class="highlight">invite new members.</span>
        </p>
        <a href="#new-discussion" class="btn btn-large invs">New Discussion</a>
    </div>
    <div class="content-right">
        <img src="/static/img/project_connect.png">
    </div>
</div>