<div class="members">
    <h2>Members</h2>
</div>


<!-- organizers -->
<div id="team-members" class="content-wrapper">
    <div class="preload">
        <h2>
            <em>Loading...</em>
        </h2>
    </div>
    <div class="no-results hide">
        <h2>
            <em>Nothing here yet.</em>
        </h2>
        <p>
            You currently don't have any members. <a href="#" class="highlight">Invite members</a> to your project on Facebook and/or Twitter, or copy the following link to your project to send.
        </p>
        <div>
            <div class="icon_share_angle">
                <strong>Share</strong>
            </div>
            <input type="text" class="input-slim" value="http://changeby.us/">
        </div>
    </div>
    <ul class="bordered-item"></ul>
</div>

<!-- members -->
<div id="project-members" class="content-wrapper np hide">
    <ul class="bordered-item"></ul>
</div>