<div class="embed-modal scaled-fade">
    <div class="close-x"></div>
        <div class="modal-feedback"></div>
        <div class="modal-innerwrapper">
        <h1>
            Embed Calendar
        </h1>
        <p>
            <a href="https://support.google.com/calendar/answer/41207?hl=en&ref_topic=1672470">More Info</a>
        </p>
        <form method="post" enctype="multipart/form-data" class="form-edit-create" name="createproject" action="/api/project/edit">
            <textarea rows="3" name="gcal_code" id="project_description" placeholder="Embed" class="input-xxlarge" value="<%= data.gcal_code %>" />
            <input type="hidden" name="project_id" value="<%= data.id %>">
            <input type="hidden" name="project_slug" value="<%= data.slug %>">
            <br>
            <div class="modal-btns">
                <input class="btn btn-large btn-tertiary" type="button" value="Cancel">
                <input class="btn btn-large btn-secondary" type="submit" value="Add Calendar">
            </div>
        </form>
    </div>
</div>