
<div class="body-container">
    <div class="feature-image" style="background-image:url(<%= data.image_url_large_rect %>);">

        <div style="background-image:url(<%= data.image_url_round %>);background-position: center;" class="preview circle">
            <div class="content"></div>
        </div>

        <div class="header-icon flag-project">
            <a href="javascript:void(0)" id="flag"> Flag Project</a>
        </div>

        <h1 class="overlay-title">
            <%= data.name %>
        </h1>
        <p class="overlay-description">
            <%= data.description %>
        </p>
        <div class="project-footer">
            
            <% var classes = "btn btn-large btn-secondary pull-right" %>
            <% if(data.isMember){  classes += " invisible" }%>

            <a href="javascript:void(0)" class="<%= classes %> follow">Follow Project</a>

            <div class="project-location">
                <%= data.location %>
                <br>
                <% if (data.website){ %>
                <a href="<%= data.website %>" target="_blank"><%= data.website %></a>
                <% } %>
            </div>
        </div>
    </div>
    <div class="tabs-pane">
        <ul class="tabs">
            <li>
                <img src="/static/img/updates_icon.png" alt="Updates">
                <a href="#updates" data-toggle="tab">
                    <span>Updates</span>
                </a>
            </li>
            <li>
                <img src="/static/img/members_icon.png" alt="Members">
                <a href="#members" data-toggle="tab">
                    <span>Members</span>
                </a>
            </li>
            <li>
                <img src="/static/img/cal_icon.png" alt="Calendar">
                <a href="#calendar" data-toggle="tab">
                    <span>Calendar</span>
                </a>
            </li>
        </ul>
    </div>
</div>