<div class="discussion clearfix">
    <div class="user-avatar">
        <img src="<%= data.image_url_round_small %>" class="circle" alt="User Avatar"> 
    </div>
    <div class="update-content">
        <div class="post-title">
            <%= data.display_name %>
        </div>
        <div class="post-content">
            <%= unescape(data.description) %>
        </div>
        <div class="post-footer">
            <div class="reply-toggle">
                <span class="reply">Reply</span>
                *
                <span class="jq-date">
                    <%= data.format_date %>
                </span>
            </div>
        </div>
    </div>
</div>