<div class="donate-modal scaled-fade">
    <div class="close-x"></div>
    <div class="modal-innerwrapper">
        <h1>Donate</h1>
        <form action="/stripe/charge" method="POST" id="payment-form">
            <span class="payment-errors alert alert-error hide"></span>
            <br>
            <input type="hidden" name="project_id" id="charge-project-id" value="<%= data.id %>"></input>
            <input type="hidden" name="access_token" id="charge-access-token" value="<%= data.stripe_account.access_token %>"></input>
            <input type="hidden" name="stripe_id" id="charge-account-id" value="<%= data.stripe_account.id %>"></input>
            
            <label for="amount" class="first">Donation Amount: $</label>
            <input type="text" size="20" style="width: 100px" id="charge-amount" name="amount" data-numeric/>
    
            <label for="number">Card Number:</label>
            <input type="text" size="20" style="width:200px" id="charge-card-number" data-stripe="number" name="number"/>
    
            <label for="cvc">CVC:</label>
            <input type="text" size="4" style="width: 100px" id="charge-cvc" name="cvc" data-stripe="cvc"/>

            <label>Expiration (MM/YYYY)</label>
            <input type="text" size="2" style="width: 50px" id="charge-expiry-month" data-stripe="exp-month" data-numeric/>
            <span> / </span>
            <input type="text" style="width: 100px" size="4" id="charge-expiry-year" data-stripe="exp-year" data-numeric />

            <label for="email">Email address:</label>
            <input type="email" size="4" style="width: 300px" id="charge-email" name="email"/>
    
            <div class="clearfix"></div>
            <input type="submit" class="btn btn-large btn-secondary" value="Submit Payment"></input>
        </form>
    </div>
</div> 