<div class="project">
    <div class="body-container">
        <div class="feature-image">
            <img src="<%= data.data.image_url_large_rect %>" />
            <div class="overlay-h1"><%= data.name %></div>
            <div class="overlay-h2"><%= data.description %></div>
        </div>

        <div class="tabs-pane">
            <ul class="tabs">
                <li><a href="#updates" data-toggle="tab"><span>Updates</span></a></li>
                <li><a href="#members" data-toggle="tab"><span>Members</span></a></li>
                <li><a href="#calendar" data-toggle="tab"><span>Calendar</span></a></li>
            </ul>
        </div>
    </div>
</div>