<div class="project-resource-section-header members clearfix">
    <div class="pull-left">
        <h2>Members</h2>
    </div>
</div>
 
<div class="preload content-wrapper">
    <h2>
        <em>Loading...</em>
    </h2>
</div>
<div class="no-results content-wrapper hide">
    <h3>
        <em>Nothing here yet.</em>
    </h3>
    <% if (data.isOwnerOrganizer){ %> 
        <p>
            You currently don't have any members. <a href="#" class="highlight">Invite members</a> to your project on Facebook and/or Twitter, or copy the following link to your project to send.
        </p>
        <div>
            <div class="icon_share_angle">
                <strong>Share</strong>
            </div>
            <input type="text" class="input-slim" value="http://changeby.us/<%= data.slug %>">
        </div>
    <% } %> 
</div>

<!-- organizers -->
<div id="team-members" class="">
    <div class="pull-right">
        <a href="#" id="alpha" class="ul">Alphabetical</a>
        &#8226;
        <a href="#" id="created" class="ul">Newest</a>
    </div>
    <h4>Person Team</h4>
    <div class="content-wrapper np">
        <ul class="bordered-item"></ul>
    </div>
</div>

<!-- members -->
<div id="project-members" class="">
    <h4>Members</h4>
    <div class="content-wrapper np">
        <ul class="bordered-item"></ul>
    </div>
</div>