

{% block head %}
{{ super() }}
{% block validateSignup %}
{% endblock %}
{% endblock %}

{% block topnav %}

<div id = "topnav">
  <div class="container-narrow">

  {% if login == false %}

    <div class="masthead">

      <ul class="nav nav-pills pull-right">

      <li class="dropdown custom">
        <a class="dropdown-toggle" data-toggle="dropdown" id="header-text"><span id="text">Welcome {{current_user.first_name}}</span> <span class="caret"></span></a>
        <ul id="divNewNotifications" class="dropdown-menu wide-drops">
            <li><a role="menuitem" href="/project/create">Create a project</a></li>
            <li><a role="menuitem" href="/#projects-anchor">Join a project</a></li>
            <li><a role="menuitem" href="/stream/dashboard">My accounts</a></li>
            <li><a role="menuitem" href="/logout">Log Out</a></li>
        </ul>
      </li>

      </ul>

      <ul class="nav nav-pills pull-left">    
        <form method="post" action="/stream/sort">
          <input type="hidden" name="project_id" value="">
          <li ><input class="btn btn-success" type="submit" id="header-text" value="View Dashboard"></li>
        </form>
      </ul>
    </div>

  {% else %}

  <div class="masthead">
    <ul class="nav nav-pills pull-right">

      <li><a data-toggle="modal" href="#signupModal" id="header-text"><strong>Sign Up</strong></a></li>
      <li><a data-toggle="modal" href="#loginModal" id="header-text"><strong>Log In</strong></a></li>

    </ul>
    <ul class="nav nav-pills pull-left">
      <li><a href="/" id="header-text"><strong>Change By Us</strong></a></li>
    </ul>
  </div>

  {% endif %}

  </div>
</div>

{% endblock %}

{% block content %}
  <h2>Thanks, you paid <strong>${{amount}}</strong>!</h2>
  <p id="header-text">We're currently processing your payment. You'll see it in the tally soon.</p>
  <br/>
<a class="btn btn-large" href="/project/{{project_id}}">View Project Page</a>

{% endblock %}