

{% block head %}
{{ super() }}
{% endblock %}

{% block topnav %}

{{ super() }}

<div id="streamtop">
    <div class="container-narrow">
    <div class="container-narrow">
        <div class="masthead">

            <div class="hidden-phone">
            <ul class="nav nav-pills pull-left">
                <li><a href="" id="header-text">View Dashboard</a></li>
            </ul>
            </div>

            <div class="hidden-desktop visible-phone">
                <div id="mobile-header">
                    <ul class="nav nav-pills pull-left">
                        <form method="post" action="/stream/sort">
                            <input type="hidden" name="project_id" value="">
                            <li ><input type="image" src="/static/img/dashboard.png" style="width: 30px; height: 30"></li>
                        </form>
                    </ul>
                    <ul class="nav nav-pills pull-right">
                        <li style="padding-top: 0px">
                            <a href="/"><img src="/static/img/cbu_home.png" style="width: 30px; height: 30px; margin-bottom: 30px">@include monteRegular;</a>
                        </li>
                        <li class="dropdown custom">
                            <a class="dropdown-toggle" data-toggle="dropdown"><span id="header-text">Welcome {{current_user.first_name}}</span> <span class="caret"></span></a>
                            <ul id="divNewNotifications" class="dropdown-menu wide-drops">
                                <li><a role="menuitem" href="/project/create">Create a project</a></li>
                                <li><a role="menuitem" href="/#projects-anchor">Join a project</a></li>
                                <li><a role="menuitem" href="/stream/dashboard">My accounts</a></li>
                                <li><a role="menuitem" href="/logout">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        <div class="hidden-phone visible-desktop visible-tablet">
                <ul class="nav nav-pills pull-right">
                        <li><a href="/" id="header-text">View ChangeBy.us</a></li>
                    <li class="dropdown custom">
                        <a class="dropdown-toggle" data-toggle="dropdown"><span id="header-text">Welcome {{current_user.first_name}}</span> <span class="caret"></span></a>
                        <ul id="divNewNotifications" class="dropdown-menu wide-drops">
                            <li><a role="menuitem" href="/project/create">Create a project</a></li>
                            <li><a role="menuitem" href="/#projects-anchor">Join a project</a></li>
                            <li><a role="menuitem" href="/stream/dashboard">My accounts</a></li>
                            <li><a role="menuitem" href="/logout">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
        </div>

        </div>
    </div>
</div>
</div>

{% endblock %}

{% block content %}


<header class="jumbotron subhead" id="main-container">
	<h1><strong>Create a Project</strong></h1>
	<br/>
</header>


<form method="post" enctype=multipart/form-data class="form-project" name=
"createproject" action="/api/project/create" onsubmit="return ValidateCreateProject();">

	

	<label> What is the name of your project? </label>
	<input type="text" maxlength="30" name="name" id="project_name" placeholder="Project Name" class="input-xxlarge">

	<label> Tell us about your project (150 words or less):</label>

	<textarea rows="8" name="description" maxlength="600" id="project_description" placeholder="Project Description" class="input-xxlarge"></textarea>

	<label> Where is your project?</label>
	<input type="text" maxlength="5" name="location" id="project_location" placeholder="Enter Zip Code" class="input-xxlarge">

	<label> Upload a project thumbnail image.</label>
	<div class="fileupload fileupload-new" data-provides="fileupload">
		<div class="fileupload-new thumbnail" style="width: 50px; height: 50px;"><img src="/static/img/50.50.placeholder.gif" /></div>
		<div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;"></div>
		<span class="btn btn-file btn-primary"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" id="project_image" name="photo"/></span>
		<a href="#" class="btn btn-primary fileupload-exists" data-dismiss="fileupload">Remove</a>
	</div>

	<br/>

	<input type="submit" class="btn btn-large btn-secondary" value="Create">

</form>

{% endblock %}
