<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "utf-8">
    <title>Change By Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,300' rel='stylesheet' type='text/css'>

    <link href="/static/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> 
    <link href="/static/css/style-merged.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/wysiwyg.css" rel="stylesheet"> 
</head>

<body>

    <div class="topnav">
    <div class="body-container">
      <!-- <div class="masthead"> -->

      {% if login == false %}

        <ul class="nav nav-pills pull-right">    
          <li><a href="/" class="header-links">Stream</a></li>
          <li><a href="/" class="header-links">City</a></li>
          <li><a href="/discover" class="header-links">Discover</a></li>
        </ul>

        <ul class="nav nav-pills pull-left">
          <li><a href="/" id="header-text">{{ current_user.first_name }}</a></li>
        </ul>

        {% else %}

         <ul class="nav nav-pills pull-right">    
          <li><a href="/signup" class="header-links">Sign Up</a></li>
          <li><a href="/login" class="header-links">Log In</a></li>
        </ul>

        <ul class="nav nav-pills pull-left">
          <li><a href="/" id="header-text">Change By Us</a></li>
        </ul>

        {% endif %}


      <!-- </div> -->
    </div>
  </div>

  <div class="body-container">
      <div class="page-error content-wrapper">
          <h1>
              <em>Looks like something went wrong.</em>
          </h1> 
          <p id="error-message">{{error}}</p>
          <a class="btn btn-large btn-secondary" href="/"> Return to ChangeBy.Us </a>
      </div>
  </div>

  {% if index == true %}
  <div class="footer-nav index clearfix">
   {% else %}
  <div class="footer-nav clearfix">
  {% endif %}
    <div class="body-container">
      <div class="pull-left">
        <a href="/">Change By Us</a>
      </div>
      <div class="pull-right">
        <ul>
          <li class="resp-append"><a href="/policies">Policies</a></li>
          <li class="resp-append"><a href="/about">About</a></li>
          <li class="resp-append"><a href="/help">Help &amp; FAQ</a></li>
        </ul>
      </div>
    </div>
  </div>


</body>
</html>