

{% block head %}
{{ super() }}
{% block validateSignup %}
{% endblock %}
{% endblock %}

{% block topnav %}

<div id="streamtop">
    <div class="container-narrow">
    <div class="container-narrow">
        <div class="masthead">
      <ul class="nav nav-pills pull-left">    
        <form method="post" action="/stream/sort">
          <input type="hidden" name="project_id" value="">
          <li ><input class="btn btn-success" type="submit" id="header-text" value="View Dashboard"></li>
        </form>
      </ul>

            <ul class="nav nav-pills pull-right">
                <li><a href="/" id="header-text">View ChangeBy.us</a></li>
                <li class="dropdown custom">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span id="header-text">Welcome {{current_user.first_name}}</span> <span class="caret"></span></a>
                    <ul id="divNewNotifications" class="dropdown-menu wide-drops">
                        <li><a role="menuitem" href="/project/create">Create a project</a></li>
                        <li><a role="menuitem" href="/#projects-anchor">Join a project</a></li>
                        <li><a role="menuitem" href="/stream/dashboard">My accounts</a></li>
                        <li><a role="menuitem" href="/logout">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block content %}

  <div class="pagination-centered" id="main-container">
  <h1><strong>Set Up Fundraising</strong></h1>
  <br/>
  <form method="POST" action="/stripe/link">
    <input type="hidden" name="project_id" value="{{project}}"></input>
    <input type="hidden" name="project_name" value="{{name}}"></input>
    <input type="submit" class="btn btn-large" value="Set Up Account with Stripe">
</form>
<br/>
<p>Change By Us uses Stripe to manage all donations which come through the site. Stripe takes a 3% cut from incoming donations as a fee.  If you have questions about how Stripe works, you can check out their <a href="https://stripe.com/us/help/faq">FAQ</a>.</p>
</div>

{% endblock %}