<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Change By Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,300' rel='stylesheet' type='text/css'>

    <link href="/static/css/style-merged.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/wysiwyg.css" rel="stylesheet"> 
</head>

{% if login == false %}
<body class="logged-in">
{% else %}
<body>
{% endif %}
  <div id="page-wrapper">
    <div class="topnav clearfix">
      <div class="body-container">
        <!-- masthead -->

        {% if login == false %}

         <div class="nav user pull-left">
            <div class="profile-nav-header">
              <div class="user-avatar">
                  <img src="{{ udata.image_url_round_small }}" class="circle">
              </div>
              <span>{{ current_user.display_name }}</span>
            </div>
            <div class="profile-nav-menu">
              <ul>
                <li><a href="/stream/dashboard">Dashboard</a></li>
                <li><a href="/stream/dashboard#profile">Profile</a></li>
                <li><a href="/logout">Sign Out</a></li> 
              </ul>
            </div> 
        </div>

          <ul class="nav nav-pills pull-right">    
            <li><a href="/stream" class="header-links">Stream</a></li>
            <li><a href="/" class="header-links">City</a></li>
            <li><a href="/discover" class="header-links">Discover</a></li>
          </ul>

          {% else %}

           <ul class="nav nav-pills pull-left">
              <li>
                <a href="/"> <img src="/static/img/cbu_home.png" alt="Change By Us"></a>
              </li>
               <li>
                <a href="/create">Create a Project</a>
              </li>
              <li>
                <a href="/discover">Discover Projects</a>
              </li>
           </ul>

           <ul class="nav nav-pills pull-right">    
            <li><a href="/signup" class="header-links">Sign Up</a></li>
            <li><a href="/login" class="header-links">Log In</a></li>
          </ul>

          {% endif %}

        <!-- end masthead-->
      </div>
    </div>

    <div class="main-content" id="frame">&nbsp;</div>

    {% if index == true %}
    <div class="footer-nav index clearfix">
     {% else %}
    <div class="footer-nav clearfix">
    {% endif %}
      <div class="body-container">
        <div class="pull-left">
          <a href="/create">Create a Project</a>
        </div>
        <div class="pull-right">
          <ul>
            <li><a href="/policies">Policies</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <script type="text/javascript">
      window.userID         = "{{ current_user.id }}"; 
      {% if project %}
      window.projectID      = "{{ project.id }}";  
      window.projectOwnerID = "{{ project.owner.id }}"; 
      {% endif %}
    </script>
       
    <!-- ========= -->
    <!-- Libraries -->
    <!-- ========= -->

    <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.js" type="text/javascript"></script>
    <script src="https://js.stripe.com/v1/" type="text/javascript" ></script>

    <script src="/static/js/ext/jquery/jquery.js"></script>
    <script src="/static/js/ext/jquery/jquery-form.js"></script>
    <script src="/static/js/ext/jquery/jquery.tinysort.js"></script>
    <script src="/static/js/ext/jquery/select-post.js"></script> 
    <script src="/static/js/ext/require/require.js" data-main="/static/js/main"></script>  
    <!-- 
    <script src="/static/js/ext/bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/ext/bootstrap/bootstrap-fileupload.js"></script>
    <script src="/static/js/ext/bootstrap/bootstrap-dropdown.js"></script>
    -->

</body>
</html>