{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% block validateSignup %}
{% endblock %}
{% endblock %}

{% block topnav_stream %}

{{ super() }}

<div id="streamtop">
    <div class="container-narrow">
    <div class="container-narrow">
      <div class="masthead">
        <div class="hidden-phone">
          <ul class="nav nav-pills pull-left">    
            <form method="post" action="/stream/sort">
              <input type="hidden" name="project_id" value="">
              <li ><input class="btn btn-success" type="submit" id="header-text" value="View Dashboard"></li>
            </form>
          </ul>
        </div>

        <div class="hidden-desktop hidden-tablet visible-phone">
          <div id="mobile-header">
            <ul class="nav nav-pills pull-left">
              <form method="post" action="/stream/sort">
              <input type="hidden" name="project_id" value="">
              <li ><input type="image" src="/static/img/dashboard.png" style="width: 30px; height: 30"></li>
            </form>
            </ul>

            <ul class="nav nav-pills pull-right">
              <li style="padding-top: 0px">
                <a href="/"><img src="/static/img/cbu_home.png" style="width: 30px; height: 30px; margin-bottom: 30px"></img></a>
              </li>
              <li class="dropdown custom">
                <a class="dropdown-toggle" data-toggle="dropdown"><span id="header-text">Welcome {{current_user.first_name}}</span> <span class="caret"></span></a>
                <ul id="divNewNotifications" class="dropdown-menu wide-drops">
                  <li><a role="menuitem" href="/project/create">Create a project</a></li>
                  <li><a role="menuitem" href="/#projects-anchor">Join a project</a></li>
                  <li><a role="menuitem" href="/stream/dashboard">My accounts</a></li>
                  <li><a role="menuitem" href="/logout">Log Out</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="hidden-phone visible-desktop visible-tablet">
          <ul class="nav nav-pills pull-right">
            <li><a href="/" id="header-text">View ChangeBy.us</a></li>
            <li class="dropdown custom">
              <a class="dropdown-toggle" data-toggle="dropdown"><span id="header-text">Welcome {{current_user.first_name}}</span> <span class="caret"></span></a>
              <ul id="divNewNotifications" class="dropdown-menu wide-drops">
                <li><a role="menuitem" href="/project/create">Create a project</a></li>
                <li><a role="menuitem" href="/#projects-anchor">Join a project</a></li>
                <li><a role="menuitem" href="/stream/dashboard">My accounts</a></li>
                <li><a role="menuitem" href="/logout">Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </div>
</div>
</div>

{% endblock %}

{% block content %}

<!-- all content goes in here -- modal vs full page -->
<p>{{ display_name }}</p>
<p>{{ first_name }}</p>
<p>{{ last_name }}</p>

{% if public_email %}
<p> {{ email }} </p>
{% endif %}

<div class="span2">
    <p id="header-text">{{ display_name }} </p>
    {% if public_email == True %}
    <a href="mailto:{{email}}"><i class="icon-envelope"></i></a>
    {% endif %}
    <p> {{ description }} </p>
</div>

<br/>

{% for project in projects %}

<p>{{ project.name }}</p>
<img src="{{project.image_uri_small}}"></img>

{% endfor %}
{% endblock %}