{% extends "layout.html" %}

{% block head %}
{{ super() }}
{% block validateSignup %}
{% endblock %}
{% endblock %}

{% block topnav_stream %}

{{ super() }}

<div id="streamtop">
    <div class="container-narrow">
    <div class="container-narrow">
        <div class="masthead">

            <div class="hidden-phone">
            <ul class="nav nav-pills pull-left">
                <li><a href="" id="header-text">View Dashboard</a></li>
            </ul>
            </div>

            <div class="hidden-desktop visible-phone">
            <div id="mobile-header">
                <ul class="nav nav-pills pull-right">
                    <li class="dropdown custom">
                        <a class="dropdown-toggle" data-toggle="dropdown"><span id="header-text">Welcome {{current_user.first_name}}</span> <span class="caret"></span></a>
                        <ul id="divNewNotifications" class="dropdown-menu wide-drops">
                            <li><a role="menuitem" href="/project/create">Create a project</a></li>
                            <li><a role="menuitem" href="/#projects-anchor">Join a project</a></li>
                            <li><a role="menuitem" href="/stream/dashboard">My accounts</a></li>
                            <li><a role="menuitem" href="/logout">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="hidden-phone visible-desktop visible-tablet">
                <ul class="nav nav-pills pull-right">
                        <li><a href="/" id="header-text">View ChangeBy.us</a></li>
                    <li class="dropdown custom">
                        <a class="dropdown-toggle" data-toggle="dropdown"><span id="header-text">Welcome {{current_user.first_name}}</span> <span class="caret"></span></a>
                        <ul id="divNewNotifications" class="dropdown-menu wide-drops">
                            <li><a role="menuitem" href="/project/create">Create a project</a></li>
                            <li><a role="menuitem" href="/#projects-anchor">Join a project</a></li>
                            <li><a role="menuitem" href="/stream/dashboard">My accounts</a></li>
                            <li><a role="menuitem" href="/logout">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
        </div>

        </div>
    </div>
</div>
</div>

{% endblock %}

{% block content %}

{% if data %}

<div class="container-narrow">
<div class="tabbable">

    <!-- Posts / Members / Fundraising toggle buttons -->
    <ul class="nav nav-tabs" id="header-text" style="border:1px #000">
        <li><a href="#fundraising" data-toggle="tab">Fundraising</a></li>
        <li><a href="#members" data-toggle="tab">Members</a></li>
        <li class="active"><a href="#posts" data-toggle="tab">Stream</a></li>

    </ul>
    <div class="hr-thin"></div>
    <br/>

<!-- //////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////// -->
        <!-- "Posts " toggle content -->
<!-- //////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////// -->

    <div class="tab-content">
        <div class="tab-pane active" id="posts">

            <div class= "span10" id = "stream-container">

                <form method="post" name="addpost" style="padding-bottom: 20px" action="/api/post/addprojectpost" onsubmit="return ValidatePost();">

                    {% if data %}

                    <div class="span9">
                        
                        <p id="frontpage-header">Add a post</p>
                        
                        <div class="hidden-phone visible-desktop">
                         <div id="post-option">
                            <p class="project-list" id="header-text">To:</p>

                            <select multiple class="selectpicker" name="share_to">
                                <option value="private">Members Only</option>
                                {% if filter %}
                                    {% for project in data %}
                                        {% if project.id == filter %}
                                            {% if project.owner_id == current_user.id %}
                                                <option value="public">Public Blog</option>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                {% if current_user.facebook_id != None %}
                                    <option value="facebook">Facebook</option>
                                {% endif %}

                                {% if current_user.twitter_id != None %}
                                <option value="twitter">Twitter</option>
                                {% endif %}

                                <li role="presentation" class="divider"></li>
                            </select>

                        </div>
                         </div>

                        <div class="hidden-desktop visible-phone">
                        <div class="post-option">

                            <p class="project-list" id="header-text">To:</p>

                            <select  class="selectWide" name="share_to">
                                <option value=""> Share To</option>
                                <option value="private">Members Only</option>
                                {% if filter %}
                                    {% for project in data %}
                                        {% if project.id == filter %}
                                            {% if project.owner_id == current_user.id %}
                                                <option value="public">Public Blog</option>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                {% if current_user.facebook_id != None %}
                                    <option value="facebook">Facebook</option>
                                {% endif %}

                                {% if current_user.twitter_id != None %}
                                <option value="twitter">Twitter</option>
                                {% endif %}

                            </select>
                        </div>
                    </div>

                        <div class="post-option">

                            <p class="project-list" id="header-text">For:</p>

                            <select  class="selectWide" name="project_id">
                                <option value=""> Select Project</option>

                                {% for projects in data %}
                                {% if projects.id == filter %}
                                <option value='{{ projects.id|e }}' selected="selected">{{ projects.name|e}}</option>
                                {% else %}
                                <option value='{{ projects.id|e }}'>{{ projects.name|e}}</option>
                                {% endif %}
                                {% endfor %}

                            </select>
                        </div>
                    </div>

                                        <input type="text" id="title-field" maxlength="60" name="title" placeholder="Title of Update" class="input-fullwidth">
                    <textarea id="update-field" maxlength="600" rows="8" name="description" placeholder="What's your update?" class="input-fullwidth"></textarea>

                    <br/>
                    <input type="submit" class="btn btn-large-stream" value="Post">

                </form>

                {% else %}
                <p> You don't have any projects to post to yet! </p>

                {% endif %}

            </div>

            <div id = "stream">
                <div class="span10">
                    <div class="span3 pull-left">
                        <p id="frontpage-header">Your feed:</p>
                    </div>
                    <div class="span4 pull-right">
                        <div class="span1">
                            <span style="float: right; margin: 5px; padding-top: 3px"><i><strong>Filter By:</strong></i></span>
                        </div>
                        <div class="span3">
                            <form method="post" name="sort_stream" action="/stream/sort">
                                <select  class="selectpicker" name="project_id" onchange="this.form.submit();">
                                    <option value=""> All Projects</option>
                                    {% for projects in data %}
                                    {% if projects.id == filter %}
                                    <option value='{{ projects.id|e }}' selected="selected">{{ projects.name|e}}</option>
                                    {% else %}
                                    <option value='{{ projects.id|e }}'>{{ projects.name|e}}</option>
                                    {% endif %}
                                    {% endfor %}
                                    <option data-divider="true"></option>
                                    <option value="0"> Create New </option>
                                </select>

                            </form>
                        </div>

                    </div>

                </div>


                {% if posts %}

                {% for post in posts %}
                <div class="span10" id="stream-container">
                    <div id="stream-thumbnails">
                        <a href="/project/{{post.project_id}}"><img src="{{post.project.image_uri_small}}" style="width: 160px; height: 50px;"></img></a>
                        <p><a href="/project/{{post.project_id}}">{{post.project_name}} </a></p>
                    </div>
                    <div class="span7">
                        <a href="/project/{{post.project_id}}"><h3> <strong> {{post.title|e}} </strong> </h3></a>
                        <span class="datetime">{{post.created_at|e}}</span>
                        <span>by {{post.user_display_name|e}} </span>
                        <p id="serif">{{post.description|e}} </p>
                    </div>
                </div>
                <div class="span10">
                    <div class="hr-thin"></div>
                </div>

                {% endfor %}

                {% else %}
                <p> No one has posted to your project yet!</p>

                <div class="span10">
                    <div class="hr-thin"></div>
                </div>

                {% endif %}

            </div>
        </div>

<!-- //////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////// -->
        <!-- "View Members " toggle content -->
<!-- //////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////// -->

        <div class="tab-pane" id="members">
            <div class="span10">
                <div class="span4 pull-right">
                    <div class="span1">
                        <span style="float: right; margin: 5px; padding-top: 3px"><i><strong>Filter By:</strong></i></span>
                    </div>
                    <div class="span3 pull-right">
                        <form method="post" name="sort_stream" action="/stream/sort">
                            <input type="hidden" name="tab" value="members"></input>
                            <select  class="selectpicker" name="project_id" onchange="this.form.submit();">
                                <option value=""> All Projects</option>
                                {% for projects in data %}
                                {% if projects.id == filter %}
                                <option value='{{ projects.id|e }}' selected="selected">{{ projects.name|e}}</option>
                                {% else %}
                                <option value='{{ projects.id|e }}'>{{ projects.name|e}}</option>
                                {% endif %}
                                {% endfor %}
                                <option data-divider="true"></option>
                                <option value="0"> Create New </option>
                            </select>

                        </form>
                    </div>
                </div>
            </div>

            <div class="span10">

                {% if members %}

                {% for member in members %}

                <div class="span2">
                    <p id="header-text">{{ member.display_name }} </p>
                    {% if member.public_email == True %}
                    <a href="mailto:{{member.email}}"><i class="icon-envelope"></i></a>
                    {% endif %}
                </div>
                {% if member.common_projects %}
                <div class="span8 pull-right">
                    {% for common in member.common_projects %}
                    <div class="span2 pull-right" id="member-thumbnails">
                        <a href="/project/{{common.id}}">
                            <img src="{{common.image_uri_small}}" style="width: 160px; height: 50px;"></img>
                            <p>{{common.name|e}}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="span10">
                <div class="hr-thin"></div>
                {% endfor %}

                {% else %}
                <p>Select a project to view members list.</p>

                {% endif %}
            </div>


        </div>

<!-- //////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////// -->
        <!-- "Fundraising " toggle content -->
<!-- //////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////////////////////////////////////////////////// -->

    <div class="tab-pane" id="fundraising">
    <div class="span10">
        <div class="span4 pull-right">
            <div class="span1">
                <span style="float: right; margin: 5px; padding-top: 3px"><i><strong>Filter By:</strong></i></span>
            </div>
            <div class="span3 pull-right">
                <form method="post" name="sort_stream" action="/stream/sort">
                    <input type="hidden" name="tab" value="fundraising"></input>
                    <select  class="selectpicker" name="project_id" onchange="this.form.submit();">
                        <option value=""> All Projects</option>
                        {% for projects in data %}
                        {% if projects.id == filter %}
                        <option value='{{ projects.id|e }}' selected="selected">{{ projects.name|e}}</option>
                        {% else %}
                        <option value='{{ projects.id|e }}'>{{ projects.name|e}}</option>
                        {% endif %}
                        {% endfor %}
                        <option data-divider="true"></option>
                        <option value="0"> Create New </option>
                    </select>

                </form>
            </div>
        </div>
    </div>

        <header class="jumbotron subhead" id="main-container" style="margin-bottom: 20px">
            <p id="header-text">Current fundraising status for all your projects.  Set up fundraising for projects you've created using Stripe.</p>
        </header>
            {% if data %}

            {% if not filter %}

                {% for project in data %}

                    {% if project.owner_id == current_user.id %}
                        <div class="span9" id="stream-container">
                            <div id="stream-thumbnails" style="margin: 15px">
                                <a href="/project/{{project.id}}"><img src="{{project.image_uri_small}}" style="width: 160px; height: 50px;"></img></a>
                                <p id="thumbnail-label"><a href="/project/{{project.id}}">{{project.name}} </a></p>
                            </div>
                            <div class="span6">
                                {% if project.stripe_account|e == "None" %}
                                <form method="post" action="/project/fundraising">
                                <!-- if there is no fundraising data yet, prompt the owner to create one -->
                                <input type="hidden" name="project_id" value="{{project.id}}"></input>
                                <input type="submit" class="btn btn-block-funding" value="Set Up Fundraising">
                                </form>
                                {% else %}
                                <!-- if a Stripe fundraising account has been set up -->
                                 <p id="header-text"><strong>${{project.stripe_account.current_amount}}0 [amount donated so far]</strong></p>

                                <!-- if a Stripe fundraising account has been set up -->
                                <div class="progress progress-info" style="margin-top: 0px">
                                  <div class="bar" style="width: {{project.stripe_account.percentage}}%"></div>
                                </div>

                                <p>Donated towards our ${{project.stripe_account.goal}}0 funding goal</p>


                                {% endif %}
                            </div>

                        </div>
                        {% if not loop.last %}
                        <div class="span9">
                            <div class="hr-thin"></div>
                        </div>
                        {% endif %} <!-- loop.last -->

                    {% endif %} <!-- user is owner -->

                {% endfor %} <!-- project in data -->

                {% for project in data %}

                {% if project.owner_id != current_user.id %}
                <div class="span9" id="stream-container">
                    <div id="stream-thumbnails">
                        <a href="/project/{{project.id}}"><img src="{{project.image_uri_small}}" style="width: 160px; height: 50px;"></img></a>
                        <p id="thumbnail-label"><a href="/project/{{project.id}}">{{project.name}} </a></p>
                    </div>
                    <div class="span6">

                         <p id="header-text"><strong>${{project.stripe_account.current_amount}}0 [amount donated so far]</strong></p>

                        <!-- if a Stripe fundraising account has been set up -->
                        <div class="progress progress-info" style="margin-top: 0px">
                          <div class="bar" style="width: {{project.stripe_account.percentage}}%"></div>
                        </div>

                        <p>Donated towards our ${{project.stripe_account.goal}}0 funding goal</p>

                    </div>
                </div>

                <div class="span9">
                    <div class="hr-thin"></div>
                </div>

                {% else %}
                {% endif %}

                {% endfor %}

            {% endif %} <!-- not filter -->

            {% if filter %}

                {% for project in data %}

                {% if project.id == filter %}
                <div class="span9" id="stream-container">
                    <div id="stream-thumbnails">
                        <a href="/project/{{project.id}}"><img src="{{project.image_uri_small}}" style="width: 160px; height: 50px;"></img></a>
                        <p id="thumbnail-label"><a href="/project/{{project.id}}">{{project.name}} </a></p>
                    </div>
                    <div class="span6">

                        <div class="progress progress-info">
                            <div class="bar" style="width: {{project.stripe_account.percentage}}%"></div>
                        </div>
                        <p id="header-text"><strong> ${{project.stripe_account.goal}}0 total needed </strong></p>
                        <p id="header-text">{{ project.stripe_account.current_amount}}0 donated so far</p>

                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            {% endif %} <!-- if data -->

    </div>
</div> <!--tab-content-->
<!-- </div> tabbable -->
</div>
{% else %}

<!-- Display landing screen if user has no associated projects -->

<div class="pagination-centered" id="main-container">

    <p class="lead-thin-center"><strong>Welcome {{current_user.first_name}}</strong></p>
    <p class="lead-small">You have no projects yet, so why don't you...</p>
    <br/>
    <a class="btn btn-block" href='/project/create'>Create A Project</a>
    <br/>
    <a class="btn btn-block" href="/#projects-anchor">Join A Project</a>

</div>

{% endif %}

{% endblock %}

{% block postModal %}

{% if newPost == True %}

    <div id="postingModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="postingModal" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="myModalLabel">You Posted!</h3>
        </div>
        <div class="modal-body">
            <p id="header-text"> Posted Successfully to ChangeBy.Us </p>
            <hr/>
            {% if twitter %}
            <p id="header-text"> Posted Successfully to Twitter </p>
            {% endif %}
            {% if fb %}
            <p id="header-text"> Posted Successfully to Facebook </p>
            {% endif %}
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>

    {% endif %}
{% endblock %}