@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

.form-left {
	float: left;
	width: 60%;
	label{
		margin-top: 30px;
		&:first-child{margin-top: 0;}
	}
}
.form-right {
	float: right;
	width: 40%;
}	

.form-footer{
	margin-bottom: 48px;
}

.tt-dropdown-menu {
	width: 480px;
	padding: 8px 0;
	margin-bottom: 12px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	@include border-radius(8px);
	@include box-shadow(rgba(0,0,0,.2) 0 5px 10px);
	text-align: left;
}

.zip {
	white-space: nowrap;
	cursor: pointer; 
	padding: 8px 20px;
	font-size: 18px;
	line-height: 24px;
}

.tt-suggestion + .tt-suggestion{
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.feedback{ margin-top: 20px; }

.sub-text{color: $graySubtext;} 

.profile-image{
	margin-bottom: 30px;
	width: 240px;
}

.public-profile{ 
	float: right;
 }

.public-email{
	*{float: left;}
	span{ 
		margin-left: 10px; 
	} 
}

.password-title{
	width: 490px;
	margin-top: 30px; 
	text-align: right;
	label{float: left;}
}

label[for=website]{
	display: inline-block;
	margin-right: 5px;
}