@import "compass/css3/filter";
@import "compass/css3/opacity";

.clearfix {
    *zoom: 1;
    &:before {
        display: table;
        line-height: 0;
        content: "";
    }
    &:after {
        display: table;
        line-height: 0;
        content: "";
        clear: both;
    }
}

.clear-both {
    clear: both;
}

.hide-text {
    font: 0 / 0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.np {
    padding: 0 !important;
    overflow: visible;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.invisible {
    visibility: hidden;
}

.affix {
    position: fixed;
}

.highlight {
    @include highlight;
}

.emphasis {
    font-size: 16px;
    letter-spacing: .1em;
}

.disabled-btn{
    @include opacity(.25);
    cursor: default;
    a{ cursor: default; }
}

.blur {
    @include filter(blur(2px));
}

.circle {
    background-position: center center;
    overflow: hidden;
    @include border-radius(1000px, 1000px);
}

a.ul {
    color: $graySubtext;
    text-decoration: underline;
}

