@import "compass/css3/border-radius";
@import "variables";

/****************************************
 * FUNCTIONS
 ***************************************/
@function em($target, $context: $fontBase) {
	@if $target == 0 { @return 0 }
	@return $target / $context + 0em;
}

@function perc($width, $containerWidth) {
	@return percentage($width / $containerWidth);
}

@mixin placeholderColor($c){
	color: $c;
	&.placeholder{color: $c;}
	&:-moz-placeholder{color: $c;}
	&::-moz-placeholder{color: $c;}
	&::-webkit-input-placeholder{color: $c;}
	&:-ms-input-placeholder{color: $c;}
}

/****************************************
 * TYPOGRAPHY
 ***************************************/

@mixin asap{
	font-family: "Asap", Helvetica, Arial, sans-serif;
}

@mixin merriweather{
	font-family: "Merriweather", Georgia, serif;
}

@mixin bebas{
	font-family: "bebas_neueregular", Arial, Helvetica, sans-serif;
}

@mixin font-styling($family:"asap", $size:15px, $color:$black, $style:"normal", $weight:"regular") {
	@if $family == "merriweather" {
		@include merriweather;
	} @else if $family == "bebas" {
		@include bebas;
	} @else {
		@include asap;
	}

	@if $style == "italic" {
		font-style: italic;
	}

	@if $weight == "bold" {
		font-weight: bold;
	} @else {
		font-weight: normal;
	}


	font-size: $size;
	color: $color;
}

@mixin highlight{
	color:$primaryColor;
	font-weight: bold;
}

/****************************************
 * SKIN
 ***************************************/

@mixin box-border{
	border: 1px solid $grayBorder;
}

@mixin box-skin{
	@include box-border;
	background-color: $white;
	@include border-radius(4px);
}

/*

/////////CSS HAT

.melissabuckley {
	color: #fff; // text color
	font-family: "Asap";
	font-size: 15px;
}


.nav-header {
	color: #fff; // text color
	font-family: "Asap";
	font-size: 20px;
	font-weight: bold;
}

.urban-community-farm-garden {
	color: #fff; // text color + color overlay
	font-family: "Asap";
	font-size: 31px;
	font-weight: bold;
	@include text-shadow(0 1px 5px rgba(0,0,0,.75)); // drop shadow
}


.view-project {
	color: #fff; // text color + color overlay
	font-family: "Asap";
	font-size: 21px;
	font-weight: bold;
	@include text-shadow(0 1px 5px rgba(0,0,0,.75)); // drop shadow
}


.discuss {
	color: #fff; // text color + color overlay
	font-family: "Asap";
	font-size: 15px;
	font-weight: bold;
	@include text-shadow(0 1px 5px rgba(0,0,0,.75)); // drop shadow
}


.all-discussions-0 {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 32px;
}


.here-is-where-the-heart-of-your-project-lies-engage-in-private {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 15px;
}

.new-discussion {
	color: #fff; // text color
	font-family: "Asap";
	font-size: 18px;
	font-weight: bold;
}


.policies {
	color: #fff; // text color
	font-family: "Asap";
	font-size: 11px;
	font-weight: bold;
}


.share {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 55px;
	font-weight: bold;
}


.get-the-word-out-about-your-project-copy-the-shared-link-below {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 18px;
}


.copy {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 20px;
	font-weight: bold;
}


.http-changeby-us-project-name-join {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 20px;
}


.or {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 18px;
}


.share-via-facebook-or-twitter {
	color: #fff; // text color
	font-family: "Asap";
	font-size: 18px;
	font-weight: bold;
}


.all-discussions-3 {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 32px;
}


.digital-projector-rental-5 {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 11px;
	font-weight: bold;
}


.does-this-look-good-to-everyone-it-costs-100-to-rent-for-the {
	color: $gray20; // text color
	font-family: "Merriweather";
	font-size: 14px;
}


.july-9-2013 {
	color: #a5a5a5; // text color
	font-family: "Asap";
	font-size: 10px;
}


.all-discussions-2-digital-projector-rental {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 32px;
	font-weight: bold;
}

.christopherozer {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 8px;
	font-weight: bold;
}

.hey-guys-i-m-looking-for-a-local-shop-to-rent-a-projector-whe {
	color: $gray20; // text color
	font-family: "Merriweather";
	font-size: 14px;
}

.raise-money-quickly-safely-and-easily {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 32px;
}

.whether-you-need-money-to-quickly-pay-for-supplies-rebuild-a-c {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 15px;
}

.how-does-it-work {
	color: #00cdd1; // text color
	font-family: "Asap";
	font-size: 18px;
	font-weight: bold;
}

.get-started {
	color: #fff; // text color
	font-family: "Asap";
	font-size: 18px;
	font-weight: bold;
}

.change-by-us-uses-a-third-party-service-called-stripe-to-help {
	color: #888; // text color
	font-family: "Asap";
	font-size: 16px;
}


.progress {
	color: $gray20; // text color + color overlay
	font-family: "BebasNeue";
	font-size: 14px;
}

.donated-towards-our-1000-goal {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 31px;
}

.edit-goal {
	color: #fff; // text color
	font-family: "Asap";
	font-size: 12px;
	font-weight: bold;
}

.manage-your-account-on-stripe {
	color: #979797; // text color
	font-family: "Asap";
	font-size: 15px;
}

.chars-left {
	color: #979797; // text color
	font-family: "Asap";
	font-size: 15px;
}

.donor-name-a-donor-name-b {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 18px;
}

.embed-google-calendar {
	color: #fff; // text color
	font-family: "Asap";
	font-size: 18px;
	font-weight: bold;
}

.thornton {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 11px;
}

.aka {
	@include opacity(.5); // layer alpha
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 10px;
	font-style: italic;
}

.short-user-bio-veniam-quis-nostrum-exercitationem-ullam {
	color: $gray20; // text color
	font-family: "Merriweather";
	font-size: 14px;
}

.your-public-link-http-changeby-us-urban-community-farm-garden {
	color: #979797; // text color
	font-family: "Asap";
	font-size: 15px;
}

.upload-a-jpg-gif-or-png-that-is-200px-by-200px-and-no-larg {
	color: #979797; // text color
	font-family: "Asap";
	font-size: 15px;
}

.social {
	color: #313131; // text color + color overlay
	font-family: "BebasNeue";
	font-size: 14px;
}

.twitter-shape-2-copy {
	width: 132px;
	height: 41px;
	@include border-radius(3px); // border radius
	@include background-clip(padding-box); // prevents bg color from leaking outside the border
	background-color: #a5a5a5; // layer fill content
}

.i-am-looking-for {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 64px;
}

.search-for-anything {
	color: #878787; // text color
	font-family: "Asap";
	font-size: 14px;
}

.environment {
	color: $gray20; // text color
	font-family: "Merriweather";
	font-size: 18px;
}

.modify {
	color: #878787; // text color
	font-family: "Asap";
	font-size: 14px;
	text-decoration: underline;
}

.cities {
	@include opacity(.5); // layer alpha
	color: $gray20; // text color
	font-family: "BebasNeue";
	font-size: 14px;
}

.akron-chicago-detroit-me {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 16px;
	font-weight: bold;
}

.name-of-super-long-project {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 8px;
	font-weight: bold;
}

.this-project-is-about-perspiciatis-unde-omnis-iste-natus-error {
	color: $gray20; // text color
	font-family: "Merriweather";
	font-size: 12px;
}

.category {
	color: #00cdd1; // text color + color overlay
	font-family: "BebasNeue";
	font-size: 14px;
}

.project-location-0-miles-away {
	@include opacity(.6); // layer alpha
	color: #808080; // text color + color overlay
	font-family: "Asap";
	font-size: 12px;
}

.pagination {
	color: #878787; // text color
	font-family: "Asap";
	font-size: 8px;
}

.no-projects-found {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 20px;
	font-style: italic;
}

.why-don-t-you-try-broadening-your-search {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 20px;
}

///////////////////HOMEPAGE

.nav-header {
	color: #fff; // text color
	font-family: "Asap";
	font-size: 15px;
	font-weight: bold;
}

.sign-up-button {
	color: #fff; // text color
	font-family: "Asap";
	font-size: 23px;
	font-weight: bold;
}

.who-uses-change-by-us {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 42px;
}

.featured-projects {
	color: #979797; // text color
	font-family: "Asap";
	font-size: 17px;
}

.compost-for-brooklyn {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 8px;
	font-weight: bold;
}

.at-compost-for-brooklyn-we-transform-our-community-s-organic-w {
	color: $gray20; // text color
	font-family: "Merriweather";
	font-size: 12px;
}

.community {
	color: #979797; // text color + color overlay
	font-family: "BebasNeue";
	font-size: 14px;
}

.why-should-you-use-change-by-us {
	color: #fff; // text color
	font-family: "Asap";
	font-size: 45px;
}

.the-tools-you-need-to-organize-all-in-one-place {
	color: #ffde92; // text color
	font-family: "Asap";
	font-size: 17px;
}

.your-own-free-website-find-people-and-projects-that-share-you {
	color: #fff; // text color
	font-family: "Asap";
	font-size: 17px;
	font-weight: bold;
}

.what-can-we-help-you-with {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 42px;
}

.find-valuable-resources {
	color: #979797; // text color
	font-family: "Asap";
	font-size: 17px;
}

.see-more-resources {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 15px;
	font-weight: bold;
}

.get-started-now {
	color: #fff; // text color
	font-family: "Asap";
	font-size: 41px;
}

.discover-project-button {
	width: 324px;
	height: 79px;
	@include border-radius(3px); // border radius
	@include background-clip(padding-box); // prevents bg color from leaking outside the border
	background-color: #a5a5a5; // layer fill content
}

// SIGN UP PAGE

.sign-up {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 54px;
	font-weight: bold;
}

.start-making-awesome-projects-in-your-community-it-only-takes {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 15px;
}

.connect-with-twitter {
	color: #fff; // text color
	font-family: "Asap";
	font-size: 12px;
	font-weight: bold;
}

.or-register-below {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 15px;
}

.full-name {
	color: #313131; // text color + color overlay
	font-family: "BebasNeue";
	font-size: 14px;
}

.first-name-holder {
	@include opacity(.4); // layer alpha
	color: $gray20; // text color
	font-family: "Merriweather";
	font-size: 12px;
}

.already-a-member-log-in {
	color: $gray20; // text color
	font-family: "Asap";
	font-size: 15px;
}

*/