/*******************************************
 * Modal
 *******************************************/

.modal-fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.create-modal {
  position: absolute;
  width: 730px;
  height: 390px;
  top: 50%;
  left: 50%;
  margin-top: -185px;
  margin-left: -365px;
  text-align: center;
  background: $white;
  z-index: 9999;
}

.modal-links{}

