@import "mixins-and-functions";
@import "variables";
@import "compass/css3";
@import "compass/css3/text-shadow";
@import "compass/css3/background-clip";
@import "compass/css3/transform";

/* sudo sass --compass --sourcemap --watch static/src/sass:static/css */

.projects {
  padding: none;
  margin: none;
}

.project-preview:nth-child(3n+3){
  .project-square {margin-right: 0;}
}

.project-square {
  @include box-skin;
  padding: 10px;
  height: 525px;
  width: 328px;
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;

  &:hover{
    .hover-overlay{ 
      display: block;
      @include opacity(1);
    }
  }
  .side-tab{
    position: absolute;
    top:20px;
    left:10px;
    background-color: rgba(0,0,0,0.5);
    padding:10px;
    color: $white; 
    z-index: 1;

    @include border-top-right-radius(4px);
    @include border-bottom-right-radius(4px);
  }
  .hover-overlay{
    text-align: center;
    //display: none;
    background-color: rgba(255,255,255,0.5);
    width:100%;
    height: 100%;
    position: absolute; 
    top:0;
    left: 0;
    z-index: 2;
    @include opacity(0);
    @include transition-property(opacity);
    @include transition-duration(.1s);
  }
  .btn{ 
    padding: 15px 20px;
    margin-top:150px; 
  }
  .close{ 
    position: absolute;
    @include opacity(.9);
    background: url(../img/icon_close.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px; 
    top: 3px;
    right: 3px;
    &:hover{@include opacity(1);}
  }
}

.user-info {
    width: 600px; 
    border: 1px solid #000;
}

.project-icon {
  img{width: 100%; } 
}

.project-name {
  @include font-styling("asap", 23px, $gray20, "normal", "bold");
  margin-top: 15px;
}

.project-description {
  @include font-styling("merriweather", 16px, $gray20, "normal", "regular");
  line-height: 1.6;
  margin-top: 15px;
}

.project-category{
  position: absolute;
  bottom: 10px;
  left: 10px;
  @include font-styling("bebas", 18px, $gray65 );
  a{color: #868686;}
}

.project-container {
  h2 {
    font-size: 44px;
    font-weight: normal;  
    text-align: left;
  }
   
  h4{  
    text-transform: uppercase;
    @include font-styling("asap", 10px, $gray65 );
  }
  
  &.feature-image .overlay-backdrop {
    background-color: $white;
  }
}

  .project-header{
    margin-top: 12px;
  }

  .feature-image {
    width: 100%;
    height: 430px;
    position: relative;

    h1{
      @include font-styling("asap", 48px, $white, "normal", "bold");
      @include text-shadow(0 1px 5px rgba(0,0,0,.75));  
    }

    .circle{ background: $defaultGray;}

    .preview{
      position: absolute;
      top:70px;
      left: 30px;
      width: 249px;
      height: 249px;
      border: 4px solid #fff;  
      @include background-clip(padding-box);  
    }

    .project-info{

    }

    .project-location{
      display: inline-block;
      @include font-styling("asap", 21px, $white );
      @include text-shadow(0 1px 5px rgba(0,0,0,.75));
    }

    .project-footer{
      position: absolute;
      left: 310px;
      top: 257px;
      width: 620px;
    }

    .overlay-title {
      left: 310px;
      //width: 100%;
      top: 100px;
      padding: 0;
      margin: 0;
      position: absolute;
    }

    .overlay-description {
      position: absolute; 
      top: 160px; 
      left: 310px;
      width: 650px;

      @include text-shadow(0 1px 5px rgba(0,0,0,.75));
      @include font-styling("merriweather", 18px, $white );
      line-height: 24px;
    }

    &.slim{ 
      .overlay-title {
        left: 30px;
        top: 40px;
        line-height: 1;
        
      }
      height: 167px;
    }
  }
  
  .tabs{
    /*
    li{
      height: 45px;
      background-repeat: no-repeat;
      background-position: left center;
    }*/
  }
  //.updates, .members, .calendar { 
  .members, .calendar { 
    h2{
        margin: 50px 0 22px;
    } 
  }
  
  .content-header{
    margin-top: 24px;

  }
 
  .content-wrapper {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
    @include box-skin;

    a{color: $black;}
    
    p{
      @include font-styling("asap", 20px, $gray20, "normal", "regular");
      margin-bottom: 28px;
    }
 
    ul.bordered-item{
      li{
        padding: 20px;
        border-bottom: 1px solid #dcdcdc;
        &:last-child{border: none;}
      }
    }
  }

  .content-title{ 
    @include font-styling("asap", 32px, $gray20, "normal", "regular");
    margin: 0 0 22px;
  }

  .content-left, .content-right, .post-right, .reply-left, .reply-right{
    float: left;  
  }

  .project-left{ 
    width: 80px;
  }
 
  .content-left{
    width: 60%;
  } 
  
  .content-right{
    width: 40%;
  }
    .user-avatar{
      float: left;
      width: 70px;
      margin-right: 20px;
    }
    .update-content{
      float: right;
      width: 858px;
    }
    .post-title, .reply-title{
      color: $gray20;
    }
    .post-content, .reply-content{
      @include font-styling("merriweather", 14px, $gray20);
    }
    .post-footer, .reply-date{ 
      margin-top: 10px;
      @include font-styling("asap", 14px, $gray53);
    }
    .post-replies{
      padding: 0; 
    }

  .reply-toggle{
    .reply{
      cursor: pointer;
      text-decoration: underline;
    } 
    .jq-date{
      text-decoration: none;
    }
  }

  .post-reply-form{
    .input-xxlarge{
      height: 32px;
      width: 568px;
    }
  }

  .reply-right{
    margin-top: 12px;
    width: 670px;
  }

  .project-member{
    .mail-icon{ 
      float: left; 
      width: 60px;
      img{ margin-top: 20px; }
    }
    .member-title{  
      float: left;  
      margin-top: 15px; 
      width: 175px;
      padding-right: 15px;
    }
    .member-description{ 
      float: left; 
      margin-top: 15px;
      width: 505px;
    }
    .member-roles{ 
      float: left;
      margin-top: 25px;
      width: 120px; 
    }
    .aka{ @include font-styling("asap", 15px, $gray80, "italic"); }
    .grey{ 
        //@include opacity(.5); // layer alpha
        @include font-styling("asap", 15px, $gray80);
    }
  }

  /******************************
   * OWNER VIEW
   ******************************/
  .update-wrapper{
     
  }

  .share-select{
    
    margin-bottom: 20px;
  }
  .share-toggle-wrapper{
    float: left;
    height: 25px;
    width: 205px;
    z-index: 1;
    top:-7px;
    left: 5px;
  }
  .share-toggle{
    cursor: pointer; 
    padding: 5px;
    @include box-skin;

    .caret{
      float: right;
      margin-top: 8px;
      margin-right: 5px;
    }
  }
  .share-options{
    padding: 5px;
    @include box-skin;

    label{ 
      height: 15px;
      font-size: 16px;
      line-height: 15px;
      padding-left: 20px;
      margin-top: 10px; 
      &:first-child{
        margin-top: 0;
      }
    } 
  }

  .discussion{ 

    .description{
      float: left;
      h5{
        margin-bottom: 0;
        @include font-styling("asap", 18px, $gray20, "normal", "bold" );
      }
      span{
        @include font-styling("merriweather", 14px, $gray20);
      }
    }
    
    .date{
      float: right;
      margin-top: 20px;
      margin-right: 55px;
      @include font-styling("asap", 15px, $gray65);
    }

    .delete,.close{
      margin-top: 20px;
      margin-right: 20px; 
    }
  }

  .fundraising-wrapper{
    padding: 30px;
    @include box-skin;
    
  }

  .fundraising-left{
    float: left;
    width: 66%;



    .content-wrapper{
      overflow: hidden;
    }
    
    
    span{
      font-weight: bold;
      color:$primaryColor;
    }
    
    p{ margin-bottom: 24px; }
  }

  .fundraising-right{
    float: left;
    width: 33%;
  }

  .project-update-form{
    padding: 30px;
    @include box-skin;
    .btn-medium{
      float: right;
      background-color:$secondaryColor;
      &:hover{ 
        background-color:$secondaryHoverColor;
      }
    }
  }


.body-container {
  position: relative;
}

.btn-large{
  font-weight: bold;
  padding: 20px 22px;
  &.invs{ 
    background-color:$secondaryColor; 
  }
}

.tabs-pane, .owner-tabs-pane{
  position: absolute;
  bottom: 0;
  height: 58px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;

  ul{margin-left: 30px;}
  li{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    margin: 0 18px;
  }  
  a{
    line-height: 58px;
    @include font-styling("asap", 22px, $white, "normal", "bold");
    @include text-shadow(0 1px 5px rgba(0,0,0,.75)); // drop shadow
  }
}

.tabs-pane{
  img{vertical-align:initial;}
  li a{ vertical-align: text-bottom; }
  li{
    &.active {
      a{ display: none; }
    }
  } 
}

.updates{
  margin: 50px 0 22px;
  z-index: 1;
}

.team-members{
  float: right;
  width: auto;

  a{ color: $black; }

  ul{ 
    display: inline-block;
    margin-top: 20px;
  }
  li{ 
    float: left; 
    margin-left: 15px;
    &:first-child{ margin-left: 0;}
    
  }
}
  .member-avatar{
    width: 70px;
    //height: 70px; 
    cursor: pointer;

    .mail-icon{
      float: right;
      margin-top: 10px;
    } 

    &:hover{
      .member-popup{display: block;}
    } 
    
  }

  .member-popup{
    position: absolute;
    display: none;
    @include box-skin;
    padding: 10px;
    height: 75px;
    width: 200px;
    left: -110px;
    top:78px;
  }

  .hover-padding{
    position: absolute;
    width: 50%;
    height: 80px;
    top:-80px;
    right: 0;
  }

  .popup-arrow{
    position: absolute;
    @include box-border;
    @include rotate(45deg);
    background-color: $white;
    border-bottom: none;
    border-right: none;
    width: 15px;
    height: 15px;
    top: -7px;
    left: 69%;
  }

  .icon_share_angle{
    float: left;
    background: url(../img/icon_share_angle.png);
    padding-left: 25px;
    margin-right: 15px;
    line-height: 40px;
    background-repeat: no-repeat;
    background-position: left center;
  }

  input[type="text"].input-slim{
    width: 50%;
    height: auto;
  }

iframe{
  width: 100%;
}