@import "mixins-and-functions";
@import "compass/css3/text-shadow";

.user {
    

}

.user-header {
    margin-top: 50px;
    width: 1000px;
    height: 300px;
    @include box-skin;

    .user-avatar{
        margin: 25px;
        width: auto;
    }
}

.user-info {
    float: left; 
    border: none; 
    margin: 35px 0 10px;

    h2 {
        font-size: 42px;
        font-weight: normal;
    }

    span {
        font-size: 18px;
    }
}


.user-image {
    height: 400px;
    width: 400px;
}

.user-projects {
    
    h2 {
        font-size: 42px;
        font-weight: normal;
    }

    span {
        font-size: 18px;
    }
}

.user-following {
    // width: 1000px;

    h2 {
        font-size: 42px;
        font-weight: normal;
    }

    span {
        font-size: 18px;
    }

}