/**** affects all sizes from 0 to 767px **/

@media only screen and (max-width: 767px) {
	body.debug{background: red;}

	.nav.user{
		width: 100px;
		span{display: none;}
	}

	.logged-in .topnav li{
		font-size: 22px;
	}

	.nav-pills>li {
		padding-right: 12px;
	}

	.profile-nav-menu{
		display: none;
	}

	.form-right{
		margin-top: 40px;
	}

	.form-right, .form-left{
		float: none;
		width: 100%;
	}
	
	.form-left{
		.input-xxlarge{width: 100%;}
	}

	.password-title, .notify-wrapper, .notify-row{
		width: 100%;
	}

	.form-footer{
		text-align: center;
		.pull-left, .pull-right{float: none;}
		.pull-right{margin-top: 16px;}
	}

	select[name=category]{
		width: 100%;
	}

	.project-square{
		margin: 10px 2%;
	}

	.project-description {
		//height: 100px;
	}

	.login, .signup {
		.content-wrapper {
			.centered {

			}
		}

		h1{padding: 30px;}

		input[type="submit"], input[type="button"]{
			width: 100%;
			margin: auto;
		}

		input[type="submit"]{
			margin-bottom: 16px;
		}
	}

	.justified-btns{
		.btn{
			margin: auto;
			width: 100%;
			&:first-child{
				margin-bottom: 16px;
			}
		}
	}


}