/**** affects all sizes from 0 to 1024px **/

@import "variables";

@media only screen and (max-width: 1024px) {
	body.debug{background: blue;}

	.nav-pills>li { 
		padding-right: 16px;
	} 

	.feature-image{display: none;}

	.header-image{
		.overlay-text{
			margin: auto;
			left: 3%;
			width: 94%;
			h1{
				font-size: 70px;
			}
		}
	}

	.project-header{margin-top: 0;}

	.dashboard-header{ 
		padding: 0 20px; 
		.btn.btn-large{padding: 20px;}
	}

	.homepage-tools-wrapper{
		padding: 0 2%;
	}

	.user-header {
		.edit{
			top: auto;
			right: 2%;
			bottom: 0;
		}
	}

	.tabs-pane, .owner-tabs-pane{ 
		height: auto;
		position: relative;
		bottom: auto;
		background: transparent;
		
		li{ 
			display: list-item !important;
			margin: auto; 
			padding: 0 0 0 30px;
			border-top: 1px solid $grayBorder;
			&.active{background: transparent;}
		}
		
		a{
			font-size: 18px;
			text-shadow: none;
			line-height: 58px;
			@include font-styling("asap", 22px, $black, "normal", "bold");
		}

		.view-project{
			margin-left: 30px;
			display: block;
		}

		.profile-image{display: none;}
	}

	.create-project{
		h1, p{
			padding: 0 2%;
		}
	}

	.content-wrapper {
		padding: 2%;
	}

	.project-preview:nth-child(3n+3){
		.project-square {margin: 10px 2%;}
	}

	.project-preview:nth-child(2n+2){
		.project-square {margin-left: 0;}
	}
 
	
	.project-square { 
		width: 47%;
		margin: 16px 2%;
	}

	.project-dashboard-image{
		width: 100%;
	}

	.project-square .hover-btn {
		width: 100%;
	}

	.project-description {
		height: 100px;
	}

	.footer-nav, .form-footer{
		padding: 0 2%;
	}

	.banner-search{
		padding: 0 2%;
	}

	.discover-header-right{ 
		.btn-large{ font-size: 22px; }
	}

} 