/**** affects all sizes from 0 to 479px **/

@media only screen and (max-width: 479px) {
	body.debug{background: green;}

	.header-image {
		.overlay-text {
			left: 5%;
			width: 95%;
		}
	}

	.project-square{
		width: 96%;
		margin: 10px 2% !important;
	}

	.reply-right{ 
		width: 65%;
	}

	.created-by, .supported-by{
		margin-top: 12px;
		float: none;
		&:after{
			clear: both;
		}
	}


}