/* shades */
$white: white;
$graySubtext: #888888;
$grayBorder: #dbdbdb;
$gray80: #cccccc;
$gray65: #a5a5a5;
$gray59: #979797;
$gray53: #878787;
$gray37: #5f5f5f;
$gray29: #494949;
$gray20: #323232;
$graySupport: #8a8a8a;
$defaultGray: #aaaaaa;
$black: black;

/* colors */
$primaryColor: #00ced1;
$primaryHoverColor: #66e2e3;
$primaryAltHoverColor: #0aafb1;
$warning: rgba(255, 0, 0, 1);
$warningHover: rgba(255, 0, 0, 0.5);

/* secondary colors */
$secondaryColor: #ffb400;
$secondaryHoverColor: #ffcb4d;

/* buttons */
$buttonTextColor: white;
$secondaryButtonTextColor: white;
$secondaryButtonFillColor: #fdfdfd;
$secondaryButtonBorderColor: #dbdbdb;

/****************************************
 * TYPOGRAPHY
 ***************************************/