/* shades */
$white:#fff;
$grayBorder:#dbdbdb;
$gray80:#cccccc;
$gray65:#a5a5a5;
$gray59:#979797;
$gray53:#878787;
$gray20:#323232;
$black:#000;

/* colors */
$primaryColor:#00ced1;
$primaryHoverColor:#66e2e3;
$primaryAltHoverColor:#0aafb1;

/* secondary colors */
$secondaryColor:#ffb400;
$secondaryHoverColor:#ffcb4d;

/* buttons */
$buttonTextColor:#ffffff;
$secondaryButtonTextColor:#ffffff;
$secondaryButtonFillColor:#fdfdfd;
$secondaryButtonBorderColor:#dbdbdb;


/****************************************
 * TYPOGRAPHY
 ***************************************/

 