<div class="body-container">
    <div class="feature-image" style="background-image:url(<%= data.image_url_large_rect %>);">

        <div style="background-image:url(<%= data.image_url_round %>);background-position: center;" class="preview circle">
            <div class="content"></div>
        </div>

        <div class="header-icon change-city">
            <a href="/api/project/<%= data.id %>/flag"> Flag Project</a>
        </div>

        <h1 class="overlay-title">
            <%= data.name %>
        </h1>
        <p class="overlay-description">
            <%= data.description %>
        </p>
        <div class="project-footer">
            <div class="city-link">
                <strong>Share:</strong><a href="http://www.ucf.com">http://www.ucf.com</a>
            </div>
        </div>
    </div>
</div>