<div class="dashboard-header clearfix">
    <h1>Administration</h1>
</div>
<div class="dashboard-tabs">
    <ul class="tabs clearfix">
        <li class="pull-left hide" id="projects-btn">  
            <a href="#projects">Flagged Projects / Resources</a>
        </li>
        <li class="pull-left hide" id="users-btn"> 
            <a href="#users">Flagged Users</a>
        </li>
        <li class="pull-left hide" id="resources-btn"> 
            <a href="#resources">Approve Resources</a>
        </li>
    </ul>
</div>

<div class="projects clearfix" id="flagged-projects">
	<h4>Flagged Projects / Resources</h4>
	<div class="clearfix">
		<ul id="projects-list"></ul>
	</div>
</div>

<div class="projects clearfix" id="flagged-users">
    <h4>Flagged Users</h4>
    <div class="content-wrapper np clearfix">
        <ul id="users-list" class="bordered-item"></ul>
    </div>
</div>

<div class="projects clearfix" id="approve-resources">
    <h4>Approve Resources</h4>
    <div class="clearfix">
        <ul id="resource-list"></ul>
    </div>
</div>


