<div class="body-container">
    <div class="dashboard-header clearfix">
        <div class="dashboard-header-right">
            <a class="btn btn-secondary" href="/create">Create a Project</a>
        </div>
        
        <h1>Dashboard</h1>
    </div>

    
    <div class="dashboard-tabs">
        <ul class="tabs clearfix">
            <li class="active pull-left">  
                <a href="#manage" data-toggle="tab"><span>Your Project</span></a>
            </li>
            <li class="pull-left"> 
                <a href="#follow" data-toggle="tab"><span>Projects You Follow</span></a>
            </li>
            <li class="pull-right"> 
                <a href="#profile" data-toggle="tab"><span>Edit Profile</span></a>
            </li>
        </ul>
    </div>

	<div id="manage-projects" class="clearfix">
		<ul></ul>
	</div>

	<div id="follow-projects" class="clearfix">
		<ul></ul>
	</div>

	<div id="edit-profile"></div>


</div>