  <div id="topnav">
    <div class="container-narrow">
      <div class="masthead">
          <ul class="nav nav-pills pull-right">    
            <li><a href="/" id="header-text">Stream</a></li>
            <li><a href="/" id="header-text">City</a></li>
            <li><a href="/" id="header-text">Discover</a></li>
          </ul>


          <ul class="nav nav-pills pull-left">
            <li><a href="/" id="header-text">Username</a></li>
          </ul>

      </div>
    </div>
  </div>

<div id="body-container">

    <div class="title">

        <h1>Projects / Resources</h1>
    </div>

    <div class="content">
        <div id="search-projects">
            <input id="search-input" placeholder="Search for Projects" type="text" />
        </div>

        <div id="Projects">
            <ul id="project-list"></ul>
        </div>

    </div>
</div>