  <div id="topnav">
    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">    
          <li><a href="/" class="header-links">Stream</a></li>
          <li><a href="/" class="header-links">City</a></li>
          <li><a href="/" class="header-links">Discover</a></li>
        </ul>


        <ul class="nav nav-pills pull-left">
          <li><a href="/" id="header-text">Username</a></li>
        </ul>

      </div>
    </div>
  </div>

<!--   <div class="body-container-wide">
    <div class="header-image">
      <div class="header-image">
        <a href="#"><img src="/static/img/cover.png" /></a>
      </div>
      <div class="overlay"></div>
    </div>
  </div>
 -->

  <div class="body-container">
    <div class="content">

      <!-- banner-search.html partial goes here -->

      <div id="projects">
        <ul id="project-list" class="project-square"></ul>
      </div>

    </div>
  </div>