<div class="body-container">
    <div class="login">
        <div class="content-wrapper">

            <h1>Log In</h1>

            <div class="centered">

               <form method="post" name="signin" class="form-signin" action="/login">
                  <a class="btn btn-info" href="/social/twitter/login">Connect with Twitter </a>
                  <a class="btn btn-info" href="/social/facebook/login">Connect with Facebook </a>

                  <div class="line-behind">
                    <span>or log in below</span>
                  </div>

                  <label> EMAIL ADDRESS & PASSWORD </label>
                  <input type="email" class="input-block-level" name="email" id="signup-email"  placeholder="Email address">
                  <input type="password" class="input-block-level" name="password" id="signup-password" placeholder="Password">
                  <input type="submit" class="btn"  value="Submit">
              </form>

              <span id="login-feedback"></span>

          </div>
      </div>
  </div>
</div>