<div class="body-container">
    <div class="login">
        <div class="content-wrapper">

            <h1>Log In</h1>

            <div class="centered">

               <form method="post" name="signin" class="form-signin" action="/login">
                  <div class="justified-btns">
                    <a class="btn btn-info btn-primary" href="/social/twitter/login">Connect with Twitter </a>
                    <a class="btn btn-info btn-primary" href="/social/facebook/login">Connect with Facebook </a>
                  </div>
                  <div class="line-behind">
                    <span>or log in below</span>
                  </div>

                  <div class="login-feedback"></div>

                  <label> EMAIL ADDRESS & PASSWORD </label>
                  <input type="email" class="input-block-level" name="email" id="signup-email"  placeholder="Email address" required>
                  <input type="password" class="input-block-level" name="password" id="signup-password" placeholder="Password" required>
                  <input type="submit" class="btn btn-xlarge btn-secondary"  value="Login">
                  <input type="button" class="btn btn-xlarge btn-tertiary"  value="Cancel">
              </form> 
          </div> 
      </div>
      <div class="login-signup-footer">
        Don't have an account? <a href="/signup">Sign Up</a> 
      </div>
  </div>
</div>