<div class="body-container">
    <div class="login">
        <div class="form-container">

            <h1>Log In</h1>

            <div class="centered">

               <form method="post" name="signin" class="form-signin" action="/login">

                  <label> EMAIL ADDRESS & PASSWORD </label>

                  <input type="email" class="input-block-level" name="email" id="signup-email"  placeholder="Email address">
                  <input type="password" class="input-block-level" name="password" id="signup-password" placeholder="Password">

                  <input type="submit" class="btn"  value="Submit">
              </form>

          </div>
      </div>
  </div>
</div>