 <div class="body-container-wide">

</div>

<!-- <div class="project"> -->
  <div class="body-container">
<!-- 
  <div class="project">
      <div class="feature-image">
        <img src="/static/img/project-head.jpg" />
        <div class="overlay-h1"> Project Title</div>
        <div class="overlay-h2"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. </div>
      </div>
  </div>

</div> -->
<!-- </div> -->


    <div class="content">
      <h2>Who uses Change By Us?</h2>
      <h3>Featured projects.</h3>

      <div id="projects">
        <ul id="project-list"></ul>
      </div>


    </div>
  </div>

  <div class="homepage-block-info">
    <h2>Why should you use Change By Us?</h2>
    <h3>The tools you need to organize. All in one place.</h3>
  </div>