<div class="body-container-wide"> </div>
<div class="feature-projects">
  <div class="body-container clearfix">
     <div class="content">
        <h2>Who uses Change By Us?</h2>
        <h3>Featured projects.</h3>
     </div>
     <div id="projects" class="clearfix">
        <ul id="project-list"></ul>
     </div>
     <div class="sub-link gray">
        <a href="/discover">See More Projects ›</a>
     </div>
  </div>
</div>
<div class="homepage-block-info">
   <h2>Why should you use Change By Us?</h2>
   <h3>The tools you need to organize. All in one place.</h3>
   <div class="homepage-tools-wrapper clearfix">
      <div class="homepage-tools">
         <div class="homepage-tool-icon" style="background-image:url(/static/img/homepage_connect.png)"></div>
         <h4>Your Own Free Website</h4>
         <p>Find people and projects that share your interest. Communicate updates with project members.</p>
      </div>
      <div class="homepage-tools">
         <div class="homepage-tool-icon" style="background-image:url(/static/img/homepage_promote.png)"></div>
         <h4>One Stop Promotion</h4>
         <p>Share news on Facebook, Twitter, and your project blog. Find participants to grow your team.</p>
      </div>
      <div class="homepage-tools">
         <div class="homepage-tool-icon" style="background-image:url(/static/img/homepage_fundraising.png)"></div>
         <h4>The Money You Need</h4>
         <p>Make your projects a reality by connecting with supports.</p>
      </div>
   </div>
</div>
 
<div class="feature-resources">
  <div class="body-container clearfix">
    <div class="content">
       <h2>What can we help you with?</h2>
       <h3>Find valuable resources.</h3>
    </div>
    <div id="resources" class="clearfix">
        <ul id="resource-list"></ul>
    </div>
    <div class="sub-link gray">
      <a href="/discover#resources">See More Resources ›</a>
    </div>
  </div>
 </div>
 
<div class="homepage-footer">
  <div class="body-container">
   <h2>Get started now.</h2>
   <div class="footer-btns">
      <a class="btn btn-xlarge btn-secondary" href="/signup">Sign Up</a>
      <a class="btn btn-xlarge btn-tertiary" href="/discover">Discover Projects</a>
   </div>
   <div class="icons-wrapper clearfix">
     <div class="created-by">
        <div>Created By</div>
        <div class="logo-lp"></div>
        <div class="logo-ceo"></div>
     </div>
     <div class="supported-by">
        <div>Supported By</div>
        <div class="logo-kf"></div>
        <div class="logo-rh"></div>
     </div>
   </div>
  </div>
</div>