 <div class="body-container-wide">

 </div>

 <div class="body-container">

  <div class="content">
    <h2>Who uses Change By Us?</h2>
    <h3>Featured projects.</h3>
  </div>

  <div id="projects" class="clearfix">
    <ul id="project-list"></ul>
  </div>

</div>

<div class="homepage-block-info">
  <h2>Why should you use Change By Us?</h2>
  <h3>The tools you need to organize. All in one place.</h3>
</div>

 <div class="body-container">

  <div class="content">
    <h2>What can we help you with?</h2>
    <h3>Find valuable resources.</h3>
  </div>

</div>

<div class="homepage-footer">
  <h2>Get started now.</h2>
  <a class="btn" href="/signup">Sign Up</a>

</div>
