<div class="body-container">
    <div class="signup">
        <div class="content-wrapper">

            <h1>Sign Up</h1>


            <div class="centered">

                <!-- -->
                <div class="init-signup">
                    <h2>Start making awesome projects in your community.</h2>
                    <h2>It only takes 30 seconds to sign up.</h2>

                    <a class="btn btn-info" href="/social/twitter/login">Connect with Twitter </a>
                    <a class="btn btn-info" href="/social/facebook/login">Connect with Facebook </a>

                    <div class="line-behind">
                        <span>or register below</span>
                    </div>

                    <div class="login-feedback"></div>

                    <form method="post" name="signup" class="form-signup" action="/api/user/create">
                        <label>FULL NAME</label>
                        <input type="text" class="input-block-level top" name="first_name" id="signup-first-name" placeholder="First name">
                        <input type="text" class="input-block-level bottom" name="last_name" id="signup-last-name" placeholder="Last name">

                        <label>CREATE A USERNAME</label>
                        <input type="text" class="input-block-level" name="display_name" id="signup-display-name" placeholder="Username">

                        <label>LOGIN INFORMATION</label>
                        <input type="email" class="input-block-level top" name="email" id="signup-email" placeholder="Email address">
                        <input type="password" class="input-block-level bottom" name="password" id="signup-password" placeholder="Password">

                        <input type="submit" class="btn btn-xlarge" value="Submit">
                        <input type="button" class="btn btn-xlarge invs" value="Cancel">
                    </form>
                </div>
                <!-- -->
                <div class="social-signup hide">
                    <h2>Almost finished! Fill in the remaing fields below.</h2>

                    <div class="social-avatar">
                        <img src="http://lorempixel.com/75/75/" class="circle">
                        <br>
                        <span></span>
                    </div>

                    <span class="back-btn">
                        <a href="#">‹ Back</a>
                    </span>

                    <div class="login-feedback"></div>

                    <form method="post" name="social-signup" class="form-signup" action="/api/user/edit">

                        <label>CREATE A USERNAME</label>
                        <input type="text" class="input-block-level" name="display_name" id="signup-display-name" placeholder="Username">

                        <label>LOGIN INFORMATION</label>
                        <input type="email" class="input-block-level top" name="email" id="signup-email" placeholder="Email address">
                        <input type="password" class="input-block-level bottom" name="password" id="signup-password" placeholder="Password">
                        <input type="hidden" name="id" value="0">

                        <input type="submit" class="btn btn-xlarge" value="Submit">
                        <input type="button" class="btn btn-xlarge invs" value="Cancel">

                    </form>
                </div>
                <!-- -->

                <span>
                    By signing up I agree to CBU's <a href="/terms.html">Terms of Service</a>
                </span>

            </div>
        </div>
        <div class="login-signup-footer">
            Already a member? <a href="/login">Log In</a>
        </div>
    </div>
</div>